name: Cypress Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  api-tests:
    name: API Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18.18.2

      - run: npm ci
      - run: npm run cy:api

      - name: Upload API test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: api-test-report
          path: cypress/reports

  ui-tests:
    name: UI Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18.18.2

      - run: npm ci
      - run: npm run cy:ui

      - name: Upload UI test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ui-test-report
          path: cypress/reports
        
      - name: Upload Cypress screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - name: Upload Cypress videos
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos
          path: cypress/videos
